<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Account Register</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
.errorlist{
    color: #be0000;
}
ul{
	margin-left: -10px;
}
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
</style>
</head>
<body>
<div class="login-form">
    <form action="" method="POST">
    <h2 class="text-center">Account Register</h2>       
    
    {% csrf_token %} 
        <div class="form-group">
            <input type="text" name="email" id="email" class="form-control" placeholder="Email" required="required">
        </div>
        
	    <div class="form-group">
			<input type="password" name="password1" autocomplete="new-password" required_id="id_password1" class="form-control" placeholder="Enter password" required="required">	       
		</div>
        
        <div>
	        <div class="form-group">
				<input type="password" name="password2" autocomplete="new-password" required_id="id_password2" class="form-control" placeholder="Re-enter password" required="required">	       
	        </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register account</button>
        </div>  
       	{% if form.errors %}
    	<ul class="errorlist">
    	{% for field in form %}
        	{% for error in field.errors %}
            	<li>
              	{% if field != '__all__' %}
                	<strong>{{ field.label }}:</strong>
              	{% endif %}
              	{{ error }}
            	</li>
       		 {% endfor %}
    	{% endfor %}
    	</ul>
		{% endif %}
    </form>
    
    <p class="text-center">
		Already have an account? <a href="{% url 'email' %}" class="ml-2">Login</a>
    </p>
</div>
<script>
	var email = "{{email}}";
	if (email != "None"){
		document.getElementById("email").value = email;
	} 
</script>
</body>
</html>